
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-2">
        <br>
        <%= link_to "Find GitHub User by login", new_user_path %>
    </div>
  </div>
</div>